<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>账号验证</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="text-center">
<div class="container">
    <h1>账号验证</h1>
    <div class="jumbotron">
        <form id="verification-form" class="form-inline col-md-4 text-center" >
            <div class="form-group">
                <label for="username">用户QQ号：</label>
                <input type="text" id="username" name="username" required class="form-control">
            </div>
            <div class="form-group">
                <label for="phone_number">手机号码：</label>
                <input type="tel" id="phone_number" name="phone_number" pattern="[0-9]{11}" required class="form-control">
                <button id="send-code" class="btn btn-info">发送验证码</button>
            </div>
            <div class="form-group">
                <label for="verification_code">验证码：</label>
                <input type="text" id="verification_code" name="verification_code" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>

        <div id="result"></div>
    </div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua"
        crossorigin="anonymous"></script>
<script>
    const form = document.querySelector('#verification-form');
    const result = document.getElementById('result');
    const sendCodeButton = document.getElementById('send-code');

    let timer;
    let remainingSeconds;

    // 发送验证码
    function sendCode() {
        const {username, phone_number} = form.elements;

        $.ajax({
            url: 'api/get_verify_code',
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                account: username.value,
                mobile_number: phone_number.value
            }),
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                console.error(error);
            }
        });

        // 将发送按钮置灰并开始倒计时
        sendCodeButton.disabled = true;
        remainingSeconds = 60;
        updateSendCodeButtonCaption();
        timer = setInterval(function () {
            remainingSeconds--;
            if (remainingSeconds <= 0) {
                sendCodeButton.disabled = false;
                clearInterval(timer);
            } else {
                updateSendCodeButtonCaption();
            }
        }, 1000);
    }

    // 更新发送按钮的文字
    function updateSendCodeButtonCaption() {
        sendCodeButton.textContent = `重新发送验证码 (${remainingSeconds}s)`;
    }

    // 提交表单并进行验证
    form.addEventListener('submit', async e => {
        e.preventDefault();

        const {username, phone_number, verification_code} = form.elements;

        try {
            const response = await fetch('api/validate_code', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    account: username.value,
                    mobile_number: phone_number.value,
                    code: verification_code.value
                })
            });

            const data = await response.json();

            if (data.succeed) {
                result.textContent = '绑定成功，15s后关闭页面';
                result.className = 'alert alert-info';
                // 操作完成后15s内关闭网页
                setTimeout(function () {
                    window.close();
                }, 15000);
            } else {
                result.textContent = '验证码错误';
                result.className = 'alert alert-warning';
            }
        } catch (error) {
            console.error(error);
        }
    });

    // 绑定发送验证码按钮的点击事件
    sendCodeButton.addEventListener('click', function (e) {
        e.preventDefault();
        sendCode();
    });
</script>
</body>
</html>
